MONGODB_URI=mongodb+srv://ashu12141214:StalkShops5456@cluster0.ewwagf3.mongodb.net/?appName=Cluster0
GOOGLE_PASS=nqwdptdpsluzpazj
GOOGLE_GMAIL=ashu12141214@gmail.com
JWT_SECRET=STALKSHOPS
PORT=5000
REDIS_URL="rediss://default:AdxjAAIncDIyMzlmYjY4MGFhOTE0MWZjYmY2ZmJjZDM4NTA5NTE5ZnAyNTY0MTk@on-cardinal-56419.upstash.io:6379"
GEMINI_API_KEY=AIzaSyA46P7q8zeDOUG83cpfjy2Uc8B8tKu9QDw

# Firebase Configuration
FIREBASE_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_CLIENT_X509_CERT_URL=
FIREBASE_UNIVERSE_DOMAIN=